{% extends 'base.html.twig' %}

{% block title %}List!{% endblock %}

{% block body %}
    <div class="languages-wrapper">

        {% for language in languages %}
            <div class="language-wrapper">
                {% trans from 'language' %}name{% endtrans %}: {{ language.name }}<br/>
                {% trans from 'language' %}alternate name{% endtrans %}: {{ language.alternateName }}<br/>
                {% trans from 'language' %}description{% endtrans %}: {{ language.description }}<br/>
                {% trans from 'language' %}iso639-1{% endtrans %}: {{ language.iso6391 }}<br/>
                {% trans from 'language' %}iso639-2/T{% endtrans %}: {{ language.iso6392T }}<br/>
                {% trans from 'language' %}iso639-2/B{% endtrans %}: {{ language.iso6392B }}<br/>
                {% trans from 'language' %}iso639-3{% endtrans %}:
                <ul>
                    {% for iso6393 in language.iso6393 %}
                        <li>{{ iso6393 }}</li>
                    {% endfor %}
                </ul>
                <a href="{{ path('language.detail', {'uuid': language.uuid}) }}">{% trans from 'global' %}Detail{% endtrans %}</a>
            </div>
        {% endfor %}

    </div>
    <a href="{{ path('language.create') }}">{% trans from 'global' %}Create{% endtrans %}</a>
{% endblock %}
