{% extends 'base.html.twig' %}

{% block title %}Detail!{% endblock %}

{% block body %}

    {% if user is not empty %}
        <div class="user-wrapper">
            uuid: {{ user.uuid }}<br/>
            email: {{ user.email }}<br/>
            roles:
            <ul>
                {% for role in user.roles %}
                    <li>{{ role }}</li>
                {% endfor %}
            </ul>
            <a href="{{ path('users.list') }}">List</a>
            <a href="{{ path('users.update', {"uuid": user.uuid}) }}">Update</a>
        </div>
    {% endif %}

{% endblock %}
