{% extends 'base.html.twig' %}

{% block title %}List!{% endblock %}

{% block body %}
    <div class="users-wrapper">
        {% for user in users %}
            <div class="user-wrapper">
                {% trans from 'user' %}uuid{% endtrans %} : {{ user.uuid }}<br/>
                {% trans from 'user' %}email{% endtrans %} : {{ user.email }}<br/>
                {% trans from 'user' %}roles{% endtrans %} :
                <ul>
                    {% for role in user.roles %}
                        <li>{{ role }}</li>
                    {% endfor %}
                </ul>
                {% trans from 'user' %}language{% endtrans %} : {{ user.locale }}<br/>

                <a href="{{ path('user.detail', {'uuid': user.uuid}) }}">Detail</a>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('user.create') }}">Create</a>
{% endblock %}
